
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

nav {
    padding: 20px;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 0px 20px;
    margin: 0px 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    /*color: #0088a9;*/
    color: rgb(210, 4, 45);
}

.main {
    /*width: 300px;*/
    border: 3px solid;
    padding: 20px;
    margin: 20px;
    background-color: rgb(51, 51, 51);
}

.main-img {
    padding: 20px;
}