
/* all */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    /*background-color: rgb(24, 24, 24);*/
    background-color: #0f0e17;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

nav {
    padding: 20px;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 0px 20px;
    margin: 0px 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    /*color: #0088a9;*/
    color: hsl(32, 100%, 51%);
}

main {
    margin: 20px;
}
h1, h2, h3, h4, h5, h6, th, form {
    color: #fffffe;
}
p, li, td {
    color: #a7a9be;
}

/* all */

/* index */

.main {
    width: 50%;
    border: 3px solid;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 400px;
    margin-top: -272px;
}

.sidenav {
    height: 100%;
    width: 360px;
    position: sticky;
    z-index: 1;
    top: 30px;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: hsl(32, 100%, 51%);
  }

/* index */

/* about us */

.main-about {
    border: 3px solid;
    padding: 20px;
    background-color: rgb(41, 41, 41);
}

/* about us */

/* info */
/* info */

/* Resources */
.alinks a {
    text-decoration: none;
}
.alinks a:link {
    color: white;
}
/* Resources */

/* Contact */

table {
    border:1px solid rgb(255, 255, 255);
}

th {
    border:1px solid white;
    color: white;
    padding: 13px;
}

td {
    border:1px solid rgb(255, 255, 255);
    padding: 9px;
}

/*
form {
    margin-top: 20px;
    padding: 20px;
    border: solid 1px white;
    width: fit-content;
    background-color: rgb(146, 42, 23);
}
*/

input {
    padding: 7px;
    margin: 5px;
}
/* Contact */






